5@model TicketRequest

@{
    ViewData["Title"] = "View Ticket";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3 class="card-title">Ticket Details</h3>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">Ticket ID:</dt>
                        <dd class="col-sm-8">@Model.TicketID</dd>

                        <dt class="col-sm-4">Category:</dt>
                        <dd class="col-sm-8">@Model.Category_Name</dd>

                        <dt class="col-sm-4">Status:</dt>
                        <dd class="col-sm-8">@Model.TicketStatus_Type</dd>

                        <dt class="col-sm-4">Assigned To:</dt>
                        <dd class="col-sm-8">@Model.FullName</dd>

                        <dt class="col-sm-4">Priority:</dt>
                        <dd class="col-sm-8">@Model.Priority_Type</dd>

                        <dt class="col-sm-4">Ticket Start Date:</dt>
                        <dd class="col-sm-8">@Model.Ticket_StartDate.ToString("yyyy-MM-dd")</dd>

                        <dt class="col-sm-4">Ticket End Date:</dt>
                        <dd class="col-sm-8">
                            @if (Model.TicketStatus_Type == "Closed")
                            {
                                @Model.TicketLastUpdated.ToString("yyyy-MM-dd")
                            }
                            else
                            {
                                @:N/A
                            }
                        </dd>

                        <dt class="col-sm-4">Created By:</dt>
                        <dd class="col-sm-8">@Model.CreatedBy</dd>
                    </dl>
                </div>
                <div class="card-footer text-center">
                    <a href="@Url.Action("ListTickets", "TicketRequest")" class="btn btn-primary">
                        <i class="bi bi-arrow-left"></i> Back to Ticket List
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
