@using System.Security.Claims
<!--<a asp-controller="Home" asp-action="Index">Home</a>-->
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" /> <!-- Reference your stylesheet -->
    <style>
        .home-container {
            text-align: center;
            margin-top: 30px;
        }

            .home-container h1 {
                font-size: 2em;
                margin-bottom: 20px;
            }

            .home-container button {
                margin: 10px;
                padding: 15px 30px;
                font-size: 16px;
                cursor: pointer;
            }

        .btn-primary {
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
        }

        .btn-secondary {
            background-color: #6c757d;
            color: white;
            border: none;
            border-radius: 5px;
        }

        p {
            font-family: 'Times New Roman';
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="home-container">

        <div class="text-center">
            <div class="card border-secondary mb-3 shadow-sm border border-dark" style="max-width: 40rem; margin: auto;">
                <div class="card-header bg-secondary text-white" style="font-family: 'Times New Roman', serif; font-size: 48px;">
                    Welcome, @User.Identity!.Name!
                </div>
                <div class="card-body" style="font-family: 'Times New Roman', serif; font-size: 20px;">
                    <p class="card-text">
                        You logged in as @User.FindFirst(ClaimTypes.Role)?.Value.
                    </p>
                </div>
            </div>
        </div>


        @if (User.IsInRole("School Leader"))
        {
            <button class="btn-primary" onclick="location.href='@Url.Action("CreateTicket", "TicketRequest")'">Create Tickets</button>
            <button class="btn-primary" onclick="location.href='@Url.Action("TrackIssues", "TicketRequest")'">Track Issue</button>
            <button class="btn-primary" onclick="location.href='@Url.Action("GenerateReport", "Home")'">Generate Report</button>
        }
        else
        {
            <button class="btn-primary" onclick="location.href='@Url.Action("CreateTicket", "TicketRequest")'">Create Tickets</button>
            <button class="btn-primary" onclick="location.href='@Url.Action("TrackIssues", "TicketRequest")'">Track Issue</button>

        }

    </div>

</body>


</html>